<!DOCTYPE html>
<html lang="en">
<head>
  <title>{{ titulo }}</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="icon" href="http://icon-icons.com/icons2/906/PNG/128/invoice_icon-icons.com_70095.png">
</head>
<body>
<div class="container" style="width: 40%">
  <h2>{{ titulo }}</h2>
  <hr>
  <form action={% url 'actualizar' idRecibo %} method="POST">
  {% csrf_token %}

    <div class="form-group">
      <label>Numero de Recibo:</label>
      <input type="text" class="form-control" id="nRecibo" name="numRecibo" required="required" value="{{ Numrec }}" pattern=".{0,16}" title="max 16 digitos">
    </div>

    <div class="form-group">
      <label>Cliente:</label>
      <input type="text" class="form-control" id="cliente" name="cliente" required="required" value="{{ Clienterec }}" pattern=".{0,50}" title="max 50 digitos">
    </div>

    <div class="form-group">
      <label>Concepto:</label>
      <input type="text" class="form-control" id="concepto" name="concepto" required="required" value="{{ Conceptorec }}" pattern=".{0,200}" title="max 200 digitos">
    </div>


    <div class="form-group">
      <label>Fecha de pago:</label>
      <input type="date" class="form-control" id="fechaPago" name="fechaPago" required="required" value="{{ Fecharec }}">
    </div>

    <div class="form-group">
      <label>Cantidad:</label>
      <input type="number" step="0.01" class="form-control" id="cantidad" name="cantidad" required="required" value="{{ Cantrec }}">
    </div>

    <button type="submit" class="btn btn-default">{{ action }}</button>
  </form>
</div>

</body>
</html>
