<!DOCTYPE html>
<html lang="es">
	<head>
		<title>Manejo de recibos</title>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	  	<link rel="icon" href="http://icon-icons.com/icons2/906/PNG/128/invoice_icon-icons.com_70095.png">
	</head>
	<body>
		<div class="container" style="width: 55%">
		  	<h2>Manejo de recibos</h2>
			{% if recibos %}
				<div class="table-responsive">
					<table class="table table-bordered table-hover">
						<thead>
							<tr>
								<th>Numero del recibo</th>
								<th>Fecha de pago</th>
								<th>Nombre del cliente</th>
								<th>Concepto</th>
								<th>Cantidad</th>
								<th></th>
							</tr>
						</thead>
						<tbody>
							{% for r in recibos %}
								<tr>
								<td> {{ r.numRecibo }} </td>
								<td> {{ r.fechaPago }} </td>
								<td> {{ r.cliente }} </td>
								<td> {{ r.concepto }} </td>
								<td> {{ r.cantidad }} </td>
								<td><a class="btn btn-default" href="/recibo/Actualizar/{{ r.id }}" role="button">Editar</a>
									<a class="btn btn-default" onclick="seguro({{r.id}})" role="button">Eliminar</a>

									</td>
								</tr>
							{% endfor %}
						</tbody>
					</table>
			  	</div>
			{% else %}
				<h3>No hay recibos que presentar</h3>
			{% endif %}
			<a class="btn btn-default" href="/recibo/crear/" role="button">Crear recibo</a>
		</div>
		<script>
			function seguro(recId) {
				var href = "/recibo/eliminar/"+recId+"";

			    if (confirm("Esta seguro que desea eliminar el recibo?") == true) {
			        window.location=href;
			    }
			}
		</script>
	</body>
</html>
